@using System.Threading;
<!DOCTYPE html>
<html lang="@Thread.CurrentThread.CurrentUICulture.ToString()" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />
    <title>@ViewData["Title"] - Nexus</title>
    @await Html.PartialAsync("_ViewImports")
    <link href="~/css/main.css" rel="stylesheet" asp-append-version="true" />
</head>
<body class="is-boxed has-animations">
    <main class="body-wrap boxed-container content">
        @RenderBody()

        <section class="content footer">
            <img src="~/img/wave-inverted.svg">
            <div class="content-divided">
                <div class="content left background">
                    <img src="~/img/blob-wave.png">
                </div>
                <div class="content right slide">
                    <h1>Juan Douglas</h1>
                    <p>A <a href="~/Home/Index">Nexus Company</a> tem como objetivo trazer qualidade, seguran&ccedil;a e efici&ecirc;ncia em todos os seus softwares, assim dando a melhor experi&ecirc;ncia aos seus usu&aacute;rios.</p>
                </div>
            </div>
        </section>

        <footer>
            <section class="singup" id="singup">
                <div class="text">
                    <h3>Não é membro da Nexus ?</h3>
                    <p class="text-sm mb-0">
                        Cadastra-se e trabalhe com quem sabe fazer a diferen&ccedil;a.
                    </p>
                </div>
                <div class="buttons">
                    <button type="button" class="button button-primary"
                            onclick="redirectAndBack('/Account/Register');">
                        Cadastro
                    </button>
                </div>
            </section>

            <section class="site-footer">
                <div class="container">
                    <div class="site-footer-inner">
                        <div class="brand footer-brand">
                        </div>
                        <ul class="footer-links list-reset">
                            <li>
                                <a href="~/Home/Index">Inicio</a>
                            </li>
                            <li>
                                <a href="~/Home/Contact">Contato</a>
                            </li>
                            <li>
                                <a href="~/Home/Privacy">Privacidade</a>
                            </li>
                            <li>
                                <a href="https://wa.me/5561992503344?text=Hello%2C+I%27m+need+support+can+you+help+me%3F%21">Equipe</a>
                            </li>
                        </ul>
                        <ul class="footer-social-links list-reset">
                            <li>
                                <a href="https://www.linkedin.com/company/nexuscompany">
                                    <i class="fa fa-lg fa-brands fa-linkedin"> </i>
                                    <span class="screen-reader-text">Linkedin</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/TheNexusCompany">
                                    <i class="fa fa-lg fa-brands fa-twitter"> </i>
                                    <span class="screen-reader-text">Twitter</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/company.nexus/">
                                    <i class="fa fa-lg fa-brands fa-instagram"></i>
                                    <span class="screen-reader-text">Instagram</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://wa.me/5561992606441?text=Ol%C3%A1%2C%20pode%20me%20ajudar?">
                                    <i class="fa fa-lg fa-brands fa-whatsapp"></i>
                                    <span class="screen-reader-text">Whatsapp</span>
                                </a>
                            </li>
                        </ul>
                        <div class="footer-copyright">© @DateTime.UtcNow.Year Nexus Company, todos os direitos reservados.</div>
                    </div>
                </div>
            </section>
        </footer>
    </main>

    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Modals", required: false)
    @await Html.PartialAsync("_RedirectModal")
</body>

</html>