@using System.Threading;
<!DOCTYPE html>
<html lang="@Thread.CurrentThread.CurrentUICulture.ToString()" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />
    <title>@ViewData["Title"] - Nexus</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Nexus.OAuth.Web.styles.css" asp-append-version="true" />
    <link href="~/font/Heebo/heebo.css" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="~/css/main.css">
    <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet">
    <link href="~/lib/font-awesome/css/brands.css" rel="stylesheet">
    <link href="~/lib/font-awesome/css/solid.css" rel="stylesheet">
    <link href="~/css/footer.css" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="is-boxed has-animations">
    <main class="body-wrap boxed-container content">
        @RenderBody()

        <section class="content footer">
            <img src="~/img/wave-inverted.svg">
            <div class="content-divided">
                <div class="content left background">
                    <img src="~/img/blob-wave.png">
                </div>
                <div class="content right slide">
                    <h1>Juan Douglas</h1>
                    <p>A <a href="~/Home/Index">Nexus Company</a> tem como objetivo trazer qualidade, seguran&ccedil;a e efici&ecirc;ncia em todos os seus softwares, assim dando a melhor experi&ecirc;ncia aos seus usu&aacute;rios.</p>
                </div>
            </div>
        </section>

        <footer>
            <section class="singup" id="singup">
                <div class="text">
                    <h3>Não é membro da Nexus ?</h3>
                    <p class="text-sm mb-0">
                       Cadastra-se e trabalhe com quem sabe fazer a diferen&ccedil;a.
                    </p>
                </div>
                <div class="buttons">
                    <button type="button" class="button button-primary"
                            onclick="redirectAndBack('/Account/Register');">
                        Cadastro
                    </button>
                </div>
            </section>

            <section class="site-footer has-top-divider">
                <div class="container">
                    <div class="site-footer-inner">
                        <div class="brand footer-brand">
                        </div>
                        <ul class="footer-links list-reset">
                            <li>
                                <a href="~/Home/Index">Inicio</a>
                            </li>
                            <li>
                                <a href="~/Home/Contact">Contato</a>
                            </li>
                            <li>
                                <a href="~/Home/Privacy">Privacidade</a>
                            </li>
                            <li>
                                <a href="https://wa.me/5561992503344?text=Hello%2C+I%27m+need+support+can+you+help+me%3F%21">Equipe</a>
                            </li>
                        </ul>
                        <ul class="footer-social-links list-reset">
                            <li>
                                <a href="https://www.linkedin.com/company/nexuscompany">
                                    <span class="screen-reader-text">Linkedin</span>
                                    <i class="fa fa-lg fa-brands fa-linkedin"> </i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCUBFCSA-SCzN2iWjsb2PhYw">
                                    <span class="screen-reader-text">Youtube</span>
                                    <i class="fa fa-lg fa-brands fa-youtube"> </i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/sargentopaulo.df/">
                                    <span class="screen-reader-text">Instagram</span>
                                    <i class="fa fa-lg fa-brands fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://wa.me/5561986521643?text=Hello,%20can%20you%20help%20me%20?!">
                                    <span class="screen-reader-text">Whatsapp</span>
                                    <i class="fa fa-lg fa-brands fa-whatsapp"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/sargentopaulo.df">
                                    <span class="screen-reader-text">Facebok</span>
                                    <i class="fa fa-lg fa-brands fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/sargentopaulo_">
                                    <span class="screen-reader-text">Twitter</span>
                                    <i class="fa fa-lg fa-brands fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="footer-copyright">© @DateTime.UtcNow.Year Nexus Company, todos os direitos reservados.</div>
                    </div>
                </div>
            </section>
        </footer>
    </main>

    <script src="~/js/main.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Html.PartialAsync("_RedirectModal")
</body>

</html>