<div class="modal modal-full" id="redirectModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-full" role="document">
       <div class="modal-content">
            <iframe src="~/Authentication/Redirect" title="description"
                style="min-width: 100%;min-height: 100%;"></iframe>
       </div>
    </div>
</div>