<!-- Criamos um elemento com a classe 'terminal' -->
<div class="terminal" data-redirect="@(ViewBag.RedirectTo ?? string.Empty)">
    <!-- Aqui serão exibidas as mensagens do terminal -->
    <div id="output" class="output gradient-background"></div>
    <!-- Aqui é onde o usuário irá digitar as entradas -->
    <input type="text" id="input" />
</div>

<!-- Adicionamos o código JavaScript para funcionamento do terminal -->
<script src="~/js/Views/Auxiliary/terminal.js"></script>