/* Estilização para o terminal */
.terminal {
    width: 500px;
    height: 300px;
    background-color: #000;
    color: #fff;
    font-family: monospace;
    padding: 20px;
    overflow: auto;
}
    /* Estilização para a entrada do usuário */
    .terminal input {
        background-color: #000;
        color: #fff;
        border: none;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        outline: none;
        display: flex;
        padding: 0;
        flex-direction: column;
    }

    /* Estilização para a saida do terminal */
    .terminal .output {
        font-size: 15px;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
    }