html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form input.error {
  border-color: red;
  color: red;
  transition: 0.2s;
}

.invisible{
  display: none;
  transition: 0.2s;
}
