:root {
    --color-secondary: #328f8a;
    --color-primary: #08ac4b;
    --color-error: red;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.gradient-background {
    background: linear-gradient(314deg, #096e54, #33b766, #102c56);
    background-size: 600% 600%;
    -webkit-animation: GradientAnimation 12s ease infinite;
    -moz-animation: GradientAnimation 12s ease infinite;
    -o-animation: GradientAnimation 12s ease infinite;
    animation: GradientAnimation 12s ease infinite;
}

@-webkit-keyframes GradientAnimation {
    0% {
        background-position: 14% 0%
    }

    50% {
        background-position: 87% 100%
    }

    100% {
        background-position: 14% 0%
    }
}

@-moz-keyframes GradientAnimation {
    0% {
        background-position: 14% 0%
    }

    50% {
        background-position: 87% 100%
    }

    100% {
        background-position: 14% 0%
    }
}

@-o-keyframes GradientAnimation {
    0% {
        background-position: 14% 0%
    }

    50% {
        background-position: 87% 100%
    }

    100% {
        background-position: 14% 0%
    }
}

@keyframes GradientAnimation {
    0% {
        background-position: 14% 0%
    }

    50% {
        background-position: 87% 100%
    }

    100% {
        background-position: 14% 0%
    }
}

img, svg {
    display: block;
    max-width: none;
    overflow: hidden;
}

.site-footer {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    background: #182538;
    color: #6B7A90
}

    .site-footer a {
        color: #6B7A90;
        text-decoration: none
    }

        .site-footer a:hover, .site-footer a:active {
            text-decoration: underline
        }

    .site-footer::before {
        display: none
    }

.lights-off .site-footer::before {
    display: block
}

.site-footer-inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 48px;
    padding-bottom: 48px
}

.footer-brand, .footer-links, .footer-social-links, .footer-copyright {
    flex: none;
    width: 100%;
    display: inline-flex;
    justify-content: center
}

.footer-brand, .footer-links, .footer-social-links {
    margin-bottom: 24px
}

    .footer-links li + li, .footer-social-links li + li {
        margin-left: 16px
    }

    .footer-social-links li {
        display: inline-flex
    }

        .footer-social-links li a {
            padding: 8px
        }

@media (min-width: 641px) {
    .site-footer-inner {
        justify-content: space-between;
        padding-top: 72px;
        padding-bottom: 72px
    }

    .footer-brand, .footer-links, .footer-social-links, .footer-copyright {
        flex: 50%
    }

    .footer-brand, .footer-copyright {
        justify-content: flex-start
    }

    .footer-links, .footer-social-links {
        justify-content: flex-end
    }

    .footer-links {
        order: 1;
        margin-bottom: 0
    }
}

.container, .container-sm {
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px
}

@media (min-width: 481px) {
    .container, .container-sm {
        padding-left: 24px;
        padding-right: 24px
    }
}

.container {
    max-width: 1128px
}

.container-sm {
    max-width: 848px
}

.container .container-sm {
    max-width: 800px;
    padding-left: 0;
    padding-right: 0
}

.modal-full {
    display: none;
    width: 100%;
    height: 100%;
}

.modal-dialog-full {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    transition: 0.4s;
    margin: 0;
}


input.form-control {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    max-width: 15rem;
    margin: 0.10rem;
    margin-top: 5px;
    padding: 0.35rem;
    border-style: solid;
    border-width: 0.12rem;
    border-radius: 0.3rem;
    font-size: 0.75rem;
    font-family: "Heebo", sans-serif;
}

    input.form-control:focus {
        border-color: var(--color-secondary);
        transition: 0.2s;
        box-shadow: 0px 1px 12px 1px #08ac4b;
    }

input.error {
    border-color: red;
    color: red;
    transition: 0.2s;
}

.invisible {
    display: none;
    transition: 0.2s;
}

.form-group {
    text-align: left;
}

button.form-control {
    text-transform: uppercase;
    background-color: var(--color-secondary);
    background-image: linear-gradient(45deg,var(--color-secondary),#08ac4b);
    width: fit-content;
    padding: 0.5rem 2.5rem;
    margin: 0.5rem 0.75rem;
    color: #FFFFFF;
    font-size: 0.7rem;
    -webkit-transition: all 0.3 ease;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 0.3rem;
    border: none;
    outline: none;
}

    button.form-control:hover {
        box-shadow: 0px 1px 22px 2px #08ac52c4;
        transition: 0.3s;
        cursor: pointer;
        color: white;
    }

.control-label {
    font-size: medium;
    margin: 1rem 0 0 0.3rem;
}

.input-validation-error {
    border-color: red;
    color: red;
    transition: 0.2s;
}

.field-validation-error {
    color: var(--color-error);
    display: block;
    text-align: start;
    max-width: 15rem;
    font-size: 13px;
    padding: 0 0.2rem;
}

.form-check-label {
    font-size: medium;
}

.form-check-input:checked {
    background: var(--color-primary);
    border-color: var(--color-primary);
    animation: bounce 0.4s linear;
}

.form-check-input {
    border-width: 0.12rem;
    border-style: solid;
    border-radius: 0.3rem;
}

@keyframes bounce {
    50% {
        transform: scale(1.3);
    }

    75% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

.fa:hover {
    color: papayawhip;
}