.application {
    border-style: solid !important;
    border-width: .149rem !important;
    border-radius: .4rem !important;
    border-color: #ced4da !important;
    margin: 1.5rem 0;
    max-width: 45rem;
}

    .application img {
        background: antiquewhite;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        padding: .2rem;
        margin: 0 .5rem 0 0;
    }

    .application .accordion-button {
        padding: .75rem 1.25rem;
    }

    .application .accordion-body {
        display: flex;
        flex-wrap: wrap;
    }

    .application .content {
        min-width: fit-content;
    }

    .application .keys {
        max-width: 19rem;
    }

        .application .keys .input-group {
            margin: 0 0 .5rem 0 !important;
            padding: 0;
            width: max-content;
            min-width: 22.5rem;
        }

            .application .keys .input-group input {
                max-width: 25rem;
            }

    .application .badge.status {
        --bs-bg-opacity: .75;
        margin: 0 .75rem;
        background: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity));
    }

        .application .badge.status:empty {
            position: absolute;
            float: right;
            text-align: right;
            margin: auto;
            left: 60%;
            cursor: pointer;
        }

    .application .delete {
        margin: .5rem auto 0 auto;
        text-align: center;
        max-width: fit-content;
    }

        .application .delete button#delete {
            background-image: linear-gradient(45deg, #5E0000, #BD2828,#F07470);
            width: 25.5rem;
            min-width: fit-content;
        }

            .application .delete button#delete:hover {
                box-shadow: 0px 1px 22px 2px #F07470;
            }

    .application .accordion-body .input-group {
        margin: 0;
        padding: 0;
    }

    .application textarea {
        resize: none;
        min-width: 17.5rem;
        margin: 0 1.5rem 0 0;
    }

.badge.status[type="active"] {
    background: rgba(var(--bs-success-rgb),var(--bs-bg-opacity)) !important;
}

.badge.status[type="disabled"] {
    background: rgba(var(--bs-danger-rgb),var(--bs-bg-opacity)) !important;
}

.badge.status[type="development"] {
    background: rgba(var(--bs-warning-rgb),var(--bs-bg-opacity)) !important;
}

.badge.status[type="testing"] {
    background: rgba(var(--bs-info-rgb),var(--bs-bg-opacity)) !important;
}
