@using Nexus.OAuth.Web.Models
@model Application
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Applications";
    Layout = "_Layout";
}

<div id="component">
    <a href="#" onclick="showModalCreate()">+ Novo Aplicativo</a>
    <div id="applications" class="accordion">
        <div class="application gray-gradient">
        </div>
        <div class="application gray-gradient">
        </div>
        <div class="application gray-gradient">
        </div>
        <div class="application gray-gradient">
        </div>
        <div class="application gray-gradient">
        </div>
        <div class="application gray-gradient">
        </div>
    </div>
</div>
@await Html.PartialAsync("_Loader")

@section Scripts{
    <script src="~/js/Views/applications.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/Views/applications.css" asp-append-version="true" />
    }
@section Modals {
    @await Html.PartialAsync("ModalCreate")
}

