@{
    Layout = "_Empty";
    ViewData["Title"] = "Welcome";
}
<header class="site-header">
    <div class="container">
        <div class="site-header-inner">
            <div class="brand header-brand">
                <h1 class="m-0">
                    <a href="#">
                        <img class="header-logo-image asset-light" src="~/img/logo-light.svg" alt="Logo">
                        <img class="header-logo-image asset-dark" src="~/img/logo-dark.svg" alt="Logo">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="hero">
        <div class="container">
            <div class="hero-inner">
                <div class="hero-copy">
                    <img src="/img/nexus_crystal.png" width="50rem" class="logo-image">
                    <h1 class="hero-title mt-0">Nexus Company</h1>
                    <p class="hero-paragraph">
                        Welcome to Nexus Company we are startup fullstack development (Web, Mobile and
                        Desktop) of software solutions to facilitate and/or help your business.
                    </p>
                    <div class="hero-cta">
                        <a class="button button-primary" href="#start-text">Lets go!</a>
                        <div class="lights-toggle">
                            <input id="lights-toggle" type="checkbox" name="lights-toggle" class="switch" checked="checked">
                            <label for="lights-toggle" class="text-xs">
                                <span>
                                    Turn me <span class="label-text">dark</span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="hero-media">
                    <div class="header-illustration">
                        <img class="header-illustration-image asset-light" src="~/img/header-illustration-light.svg"
                             alt="Header illustration">
                        <img class="header-illustration-image asset-dark" src="~/img/header-illustration-dark.svg"
                             alt="Header illustration">
                    </div>
                    <div class="hero-media-illustration">
                        <img class="hero-media-illustration-image asset-light" src="~/img/hero-media-illustration-light.svg"
                             alt="Hero media illustration">
                        <img class="hero-media-illustration-image asset-dark" src="~/img/hero-media-illustration-dark.svg"
                             alt="Hero media illustration">
                    </div>
                    <div class="hero-media-container">
                        <img class="hero-media-image asset-light" src="~/img/hero-media-light.svg" alt="Hero media">
                        <img class="hero-media-image asset-dark" src="~/img/hero-media-dark.svg" alt="Hero media">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features section">
        <div class="container">
            <div class="features-inner section-inner has-bottom-divider">
                <div class="features-header text-center">
                    <div class="container-sm">
                        <h2 class="section-title mt-0">Our Products</h2>
                        <p class="section-paragraph">
                            Nexus Compny and its subsidiaries are fully complaceted with the
                            quality of our software and services, so your opinion is very important to us!
                        </p>
                        <div class="features-image">
                            <img class="features-illustration asset-dark" src="~/img/features-illustration-dark.svg"
                                 alt="Feature illustration">
                            <img class="features-box asset-dark" src="~/img/features-box-dark.svg" alt="Feature box">
                            <img class="features-illustration asset-dark" src="~/img/features-illustration-top-dark.svg"
                                 alt="Feature illustration top">
                            <img class="features-illustration asset-light" src="~/img/features-illustration-light.svg"
                                 alt="Feature illustration">
                            <img class="features-box asset-light" src="~/img/features-box-light.svg" alt="Feature box">
                            <img class="features-illustration asset-light" src="~/img/features-illustration-top-light.svg"
                                 alt="Feature illustration top">
                        </div>
                    </div>
                </div>
                <div class="features-wrap">
                    <div class="feature is-revealing">
                        <div class="feature-inner">
                            <div class="feature-icon">
                                <img class="asset-light" src="~/img/icon-api.png" alt="Feature 01">
                                <img class="asset-dark" src="~/img/icon-api.png" alt="Feature 01">
                            </div>
                            <div class="feature-content">
                                <h3 class="feature-title mt-0">API</h3>
                                <p class="text-sm mb-0">
                                    APIs created by Nexus are clean and convert between each other,
                                    plus easy integration with your system.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="feature is-revealing">
                        <div class="feature-inner">
                            <div class="feature-icon">
                                <img class="asset-light" src="~/img/icon-application.png" alt="Feature 02">
                                <img class="asset-dark" src="~/img/icon-application.png" alt="Feature 02">
                            </div>
                            <div class="feature-content">
                                <h3 class="feature-title mt-0">Apps</h3>
                                <p class="text-sm mb-0">
                                    Our focus is the quality and user comfort when using Apps created by us.
                                    That's why we follow all UX/UI concepts.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="feature is-revealing">
                        <div class="feature-inner">
                            <div class="feature-icon">
                                <img class="asset-light" src="~/img/icon-client.png" alt="Feature 03">
                                <img class="asset-dark" src="~/img/icon-client.png" alt="Feature 03">
                            </div>
                            <div class="feature-content">
                                <h3 class="feature-title mt-0">Client</h3>
                                <p class="text-sm mb-0" id="start-text">
                                   We keep efforts to bring the best possible service to our users, 
                                   your satisfaction is our goal!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cta section">
        <div class="container-sm">
            <div class="cta-inner section-inner">
                <div class="cta-header text-center">
                    <h2 class="section-title mt-0">Are you ready for a new journey?!</h2>
                    <p class="section-paragraph">
                        Hey, eae? Are you ready to get started in the Nexus ? Come on, let's go!
                        Create your account or sign in to nexus to use the best!
                    </p>

                    <div class="cta-cta">
                        <a class="button button-secondary" href="~/Applications" id="start-button">I'm member</a>
                        <a class="button button-primary" href="~/Account/Register" id="start-button">Start now!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

