.header {
    text-align: center;
}

.sing-up-terminal {
    margin-bottom: 0rem;
    text-align: right;
    background: #0e141e;
}

.visually-hidden {
    transition: opacity 0.6s ease, filter 0.5s ease;
    opacity: 0;
    filter: blur(15px);
}

.message {
    text-align: center;
    margin: 0;
    padding: 0;
}

main.content {
    transition: ease .6s;
}

.modal-content {
    transform: translate3d(0,0,.35rem);
    box-shadow: 10px 19px 115px 3px rgba(0,0,0,0.55);
}

.congratulations {
    width: fit-content;
    max-width: 19.5rem;
}

    .congratulations .buttons {
        display: inline-flex;
        margin: 0.2rem 0;
    }

.terms {
    max-width: 21rem;
}

    .terms .card-body {
        display: inline-flex;
        flex-direction: column;
    }

        .terms .card-body button {
            float: right;
            position: relative;
            margin: 0;
        }

        .terms .card-body .h-captcha {
            text-align: left;
            margin-top: .5rem;
        }

.font-mktg {
    margin: .5rem 1.5rem;
    font-size: 17.5px;
    z-index: 10;
    position: relative;
}