@using Nexus.OAuth.Web.Models;
@model Account
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Register";
    Layout = "_Empty";
}

<main class="content">
    <script src="~/js/Views/register.js"></script>
    <script src="~/js/Views/authentication.js"></script>

    <h4>Account</h4>
    <hr />

    <section class="sing-up-terminal">
        <partial name="Terminal" />
    </section>
</main>

<div class="modal fade" id="congratulations" role="dialog">
    <div class="modal-dialog">
        <div class="card modal-content congratulations">
            <div class="card-body text-center">
                <img src="https://img.icons8.com/bubbles/200/000000/trophy.png">
                <h3>Bem vindo a Nexus!</h3>
                <p class="small">Ready! Your account was on Nexus was created, now check your email to confirm your account.</p>
                <div class="buttons">
                    <button class="button button-secondary">Check account </button>
                    <button class="form-control" onclick="registerOk()">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }