@using Nexus.OAuth.Web.Models
@using Nexus.OAuth.Web.Controllers.Base
@model Account
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Register";
    Layout = "_Empty";
}

<script src="~/js/Views/register.js" asp-append-version="true" required></script>

<section class="sing-up-terminal gradient-background">
    <div class="particle-container">
        <!-- Crie as partículas usando elementos <div> -->
        <div class="particle" style="top: 20%; left: 30%; width: 10px; height: 10px;"></div>
        <div class="particle" style="top: 50%; left: 50%; width: 5px; height: 5px;"></div>
        <div class="particle" style="top: 30%; left: 20%; width: 7px; height: 7px;"></div>
        <div class="particle" style="top: 40%; left: 80%; width: 7px; height: 7px;"></div>
        <div class="particle" style="top: 70%; left: 85%; width: 7px; height: 7px;"></div>
        <div class="particle" style="top: 50%; left: 60%; width: 7px; height: 7px;"></div>
        <div class="particle" style="top: 60%; left: 25%; width: 7px; height: 7px;"></div>
        <!-- Adicione mais partículas se desejar -->
    </div>

    <div class="font-mktg">
        <span class="mr-2 text-gray-mktg">Já tem uma conta?</span>
        <a href="~/Authentication" class="color-text-white">Entrar</a>
    </div>

    <img src="~/img/hero-glow.svg" class="js-warp-hide position-absolute overflow-hidden hero-glow events-none" />
   
    <partial name="Terminal" />

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Views/authentication.js" asp-append-version="true"></script>
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
    <link href="~/css/Views/register.css" rel="stylesheet" asp-append-version="true">
    <script src="~/js/Views/Auxiliary/particles.js" asp-append-version="true" required></script>
    <link href="~/css/Views/Auxiliary/particles.css" rel="stylesheet" asp-append-version="true">
   }

@section Modals{
    <div class="modal fade" id="termsAndCaptcha" role="dialog">
        <div class="modal-dialog">
            <div class="card modal-content terms">
                <div class="card-body text-center">
                    <h3>Ultimo passo!</h3>
                    <p class="small">Para finalizar seu cadastro você precisa aceitar os termos e privacidade da Nexus.</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="AcceptTerms" value="false">
                        <label class="form-check-label" for="AcceptTerms">
                            Aceito todos os  <a>Termos</a> e <a href="~/Home/Privacy">Pol&iacute;tica de Privacidade</a>.
                        </label>
                        <span asp-validation-for="AcceptTerms" class="text-danger"></span>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="AcceptTermsCaptcha" type="checkbox" asp-for="AcceptTerms" value="false">
                        <label class="form-check-label" for="AcceptTermsCaptcha">
                            Este site é protegido por hCaptcha e sua
                            <a href="https://www.hcaptcha.com/privacy">Pol&iacute;tica de Privacidade</a> e
                            <a href="https://www.hcaptcha.com/terms">Termos de Servi&ccedil;os</a> se aplicam.
                        </label>
                        <span asp-validation-for="AcceptTerms" class="text-danger" value="false"></span>
                    </div>
                    <div class="h-captcha" data-sitekey="@ViewData[BaseController.hCapKey]"></div>
                    <div class="h-captcha-error"></div>
                    <button class="form-control" onclick="sendAccount()">Finalizar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="congratulations" role="dialog">
        <div class="modal-dialog">
            <div class="card modal-content congratulations">
                <div class="card-body text-center">
                    <img src="https://img.icons8.com/bubbles/200/000000/trophy.png">
                    <h3>Bem vindo a Nexus!</h3>
                    <p class="small">Ready! Your account was on Nexus was created, now check your email to confirm your account.</p>
                    <div class="buttons">
                        <button class="button button-secondary">Check account </button>
                        <button class="form-control" onclick="registerOk()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}