.application {
    max-width: 19rem;
    text-align: center;
    padding: 0.5rem;
}

    .application .name {
    }

    .application .description {
        max-width: 19rem;
    }

    .application .icon {
        width: 10rem;
        height: 10rem;
        border-radius: 5rem;
    }
