body, button, input, select, textarea, input {
    font-family: "Heebo", sans-serif
}

.card-center {
    background: #fff;
    display: inline-flex;
    border-radius: 1rem;
    border: 1px solid #dadce0;
}

.login-page {
    width: fit-content;
    padding: 5% 0 0;
    margin: auto;
}

    .login-page .form .login {
        margin-top: -31px;
        margin-bottom: 26px;
    }

.login h3 {
    margin-top: 3.5rem;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    max-width: 15rem;
    margin: 0.10rem;
    margin-top: 5px;
    padding: 0.25rem;
    font-size: 14px;
    border-style: solid;
    border-width: 0.12rem;
    border-radius: 0.3rem;
}

    input:focus {
        border-color: #328f8a;
        transition: 0.2s;
        box-shadow: 0px 1px 12px 1px #08ac4b;
    }

    input.error {
        border-color: red;
        color: red;
        transition: 0.2s;
    }

.invisible {
    display: none;
    transition: 0.2s;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.qr-code {
    max-width: 245px;
    margin: 24.5% 0 0 1.25rem;
    border-radius: 1rem;
    background: #f3f3f3;
    padding: .15rem .15rem 0 .15rem;
}

.component {
    max-width: 15rem;
    margin: 2rem;
}

.qr-code-text {
    font-size: 11px;
    text-align: center;
    color: #182538;
    margin: 0px 14px;
    padding: 9px 25px;
    max-width: 13rem;
}

.link {
    color: #328f8a;
}

    .link:hover {
        text-decoration: none;
        cursor: pointer;
    }

#user {
    margin-top: 2rem;
}

@media (max-width: 641px) {
    .qr-code-component {
        display: none;
    }
}

.component button {
    margin: 3.5rem 0 0 0;
}

p.forgot-password {
    text-align: left;
    font-size: small;
    margin: 0 0 .5rem .25rem;
    cursor: pointer;
    color: var(--color-secondary)
}

div.form-group {
    margin: 14.5% 0 0 0;
}

h3.feature-title {
    margin: 2.25rem 0 .5rem !important;
}

.step .component {
    max-width: 260px;
    margin: 1.15rem;
    min-width: 13rem;
}

.message {
    margin: 0;
    color: #b3b3b3;
    text-align: left;
    font-size: 12px;
    padding: 5px 0 0 5px;
}

    .message a {
        color: var(--color-secondary) !important;
        text-decoration: none;
        font-size: 13px;
    }

        .message a:hover {
            cursor: pointer;
        }

.step.loader .component {
    text-align: center;
    padding: 7rem 0;
}

.profile {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    max-height: 2.7rem;
    cursor: pointer;
    margin-top: .75rem;
}

    .profile img#Image {
        width: 40px;
        height: 40px;
        margin: .25rem;
        border-radius: 2rem;
    }

    .profile .details * {
        margin: 0 .25rem !important;
        padding: 0;
    }

    .profile .details h4 {
        text-align: left;
        font-size: 15px;
    }

        .profile .details h4::after {
            content: none;
        }

    .profile .details p {
        margin: 0;
    }
