body, button, input, select, textarea, input {
    font-family: "Heebo", sans-serif
}

.card-center {
    background: #fff;
    display: inline-flex;
    border-radius: 1rem;
}

.login-page {
    width: fit-content;
    padding: 8% 0 0;
    margin: auto;
}

    .login-page .form .login {
        margin-top: -31px;
        margin-bottom: 26px;
    }

.login h3 {
    margin-top: 3.5rem;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    max-width: 15rem;
    margin: 0.10rem;
    margin-top: 5px;
    padding: 0.25rem;
    font-size: 14px;
    border-style: solid;
    border-width: 0.12rem;
    border-radius: 0.3rem;
}

    input:focus {
        border-color: #328f8a;
        transition: 0.2s;
        box-shadow: 0px 1px 12px 1px #08ac4b;
    }

    input.error {
        border-color: red;
        color: red;
        transition: 0.2s;
    }

.invisible {
    display: none;
    transition: 0.2s;
}

button {
    text-transform: uppercase;
    background-color: #328f8a;
    background-image: linear-gradient(45deg,#328f8a,#08ac4b);
    width: 100%;
    color: #FFFFFF;
    font-size: 0.7rem;
    -webkit-transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 0.3rem;
}

    button:hover {
        box-shadow: 0px 1px 22px 2px #08ac52c4;
        transition: 0.2s;
        cursor: pointer;
    }

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.qr-code {
    max-width: 250px;
    margin: 41% 0 0 2rem;
    border-radius: 1rem;
    background: #f3f3f3;
    padding: 0.5rem;
}

.component {
    max-width: 15rem;
    margin: 2rem;
}

.qr-code-text {
    font-size: 11px;
    text-align: center;
    color: #182538;
    margin: 0px 17px;
    padding: 9px 25px;
    max-width: 14rem;
}

.link {
    color: #328f8a;
}

    .link:hover {
        text-decoration: none;
        cursor: pointer;
    }

#user {
    margin-top: 2rem;
}

@media (max-width: 641px) {
    .qr-code-component {
        display: none;
    }
}

.component button{
    margin: 1.5rem 0 0 0;
}