@using Nexus.OAuth.Web.Models
@model Login
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Login";
    Layout = "_Empty";
}
<script src="~/js/Views/authentication.js"></script>
<body onload="loadQrCode()">
    <main class="gradient-background" style="text-align:center;padding:5%;">
        <div class="card-center">
            <div class="qr-code-component">
                <img id="qrCode" class="qr-code" src="../img/nexus_crystal.png" />
                <p class="qr-code-text">Use this QR Code in your <a class="link">Mobile APP</a> for fast login.</p>
            </div>

            <div>
                @await Html.PartialAsync("_Loader")
                <div id="component" class="component">

                    <div class="feature-content">
                        <h3 class="feature-title mt-0">Login</h3>
                        <p class="text-sm mb-0" id="start-text">
                            Welcome to <a class="link">Nexus Company</a>, so we can identify you, enter your login and
                            password or connect using the QR Code on the side
                        </p>
                    </div>

                    <div class="form-group">
                        <label asp-for="User" class="control-label"></label>
                        <input asp-for="User" class="form-control" placeholder="example@@domain.com" />
                        <span asp-validation-for="User" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" placeholder="********" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <button type="button"
                            class="button button-primary"
                            onclick="loginClick('@ViewBag.RedirectTo')"
                            style="margin: 0;">
                        login
                    </button>
                    <p class="message">Not registered? <a onclick="redirectAndBack('../Account/Register',false)">Create an account</a></p>
                </div>
            </div>
        </div>
    </main>
</body>
