.input-number {
    width: 30px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin-right: 5px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
}

    .input-number:focus {
        border-bottom: 2px solid #2196F3;
    }

    .input-number::-webkit-outer-spin-button,
    .input-number::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .input-number[type=number] {
        -moz-appearance: textfield;
    }

.digit-separator {
    font-size: 20px;
    margin-right: 5px;
}

.number-inputs {
    display: flex;
    align-items: center;
    margin: auto;
    width: fit-content;
    text-align: center;
}