.input-number {
    width: 30px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: none;
    border-bottom: 2px solid var(--color-secondary);
    outline: none;
    background-color: var(--transparent-bg-dark);
    color: white;
    margin: 0;
    border-radius: .25rem .25rem 0 0;
}

    .input-number:focus {
        border-bottom: 2px solid var(--color-primary);
    }

    .input-number::-webkit-outer-spin-button,
    .input-number::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .input-number[type=number] {
        -moz-appearance: textfield;
    }

.digit-separator {
    font-size: 20px;
    margin-right: 5px;
}

.number-inputs {
    display: flex;
    align-items: center;
    margin: auto;
    width: fit-content;
    text-align: center;
}

    .number-inputs > .input-number:not(:last-child) {
        margin-right: .75rem;
    }